@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #02000b,#0b182b, #17314a, #0b182b, #02000b);
}

header img {
  width: 100%;
  height: 250px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, #02000b,#0b182b, #17314a, #0b182b, #02000b);
  padding: 15px;
  gap: 15px;
}

nav button {
  background-color: #c20000;
  color: white;
  border: 2px solid #7c0000;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

nav button:hover {
background-color: #ff5722;
transform: scale(1.1);
}

nav button:active {
  background-color: #d32f2f;
  transform: scale(0.95);
}

section {
  width: 300px;
}

#contenedorPersonajes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.personaje {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding-bottom: 70px;
}

.personaje:hover {
  transform: scale(1.05);
}

.personaje img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}

.personaje h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.personaje ul {
  padding: 0 0 0 15px;
  margin-bottom: 10px;
  text-align: left;
}

.personaje ul li {
  font-size: 14px;
}

.personaje.héroe {
  background-color: #1ca800;
}

.personaje.villano {
  background-color: #c20000;
}

.personaje.arma {
  background-color: #cca300;
}

.personaje.lugar {
  background-color: #0066b9;
}

.personaje p {
  margin-bottom: 10px;
}

.titulo-poderes {
  text-align: left;
  font-weight: bold;
}

.seguir-leyendo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f4b400;
  color: #333;
  border: 2px solid rgb(168, 143, 0);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.descripcion-personaje {
  display: none;
}

.modal-seguir-leyendo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.modal-seguir-leyendo.active {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  z-index: 1005;
  }

.modal-seguir-leyendo .descripcion {
  margin-top: 20px;
  font-size: 16px;
}

.modal-seguir-leyendo .section-clonada {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section-clonada .descripcion-personaje {
  display: block;
}

#ventana-filtrar {
  position: fixed;
  width: 80%;
  max-width: 350px;
  height: 80%;
  max-height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.95);
  color: white;
  border: 2px solid #ff0000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 999;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  gap: 10px;
}

#ventana-filtrar h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: #ffd700;
}

#ventana-filtrar button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.6rem;
  background-color: #ff0000;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#ventana-filtrar button:hover {
  background-color: #cc0000;
}

#ventana-filtrar label {
  display: flex;
  align-items: center;
  padding-left: 35%;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

#ventana-filtrar input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ffd700;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

#ventana-filtrar input[type="checkbox"]:checked::after {
  content: '✔';
  color: #ffd700;
  font-size: 14px;
  position: absolute;
  left: 2px;
  top: -2px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #5e5e5e;
  border-radius: 10px;
}

.mensaje-no-resultados {
color: white;
font-size: 2rem;
font-weight: bold;
text-align: center;
margin-top: 20px;
}

.mostrar-categoria {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f4b400;
  color: #333;
  border: 2px solid rgb(168, 143, 0);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}